@import './mixins';

.hero {
  background: var(--c-1);
  box-shadow: inset 0 0 80px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 50px 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;

  @include media(">=desktop") {
    & {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }
  }
}

.usps {
  padding: 20px 10px;

  small {
    display: block;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  @include media(">=desktop") {
    &__inner {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }
  }

  .usp {
    flex: 2;
    width: 50%;
    margin: 0 8px 20px;
    text-align: center;

    &__icon {
      width: 100px;
      height: 100px;
      background: var(--c-4);
      border-radius: 50%;
      margin: 0 auto 10px;
    }

    &__title {
      margin: 0 0 10px;
      font-size: 16px;
      text-transform: uppercase;
    }

    p {
      margin: 0 0 10px;
    }
  }
}

.testimonials {
  background: var(--c-5);
  box-shadow: inset 0 0 80px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;

  @include media(">=desktop") {
    & {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }
  }

  .testimonial {
    position: relative;

    &:nth-child(2n) {
      text-align: right;
    }

    blockquote {
      display: inline-block;
      position: relative;
      padding: 30px 40px 30px 30px;
      margin: 0;
      font-size: 18px;

      &::before,
      &::after {
        color: rgba(255, 255, 255, 0.25);
        font-size: 85px;
        position: absolute;
        line-height: 0.5;
        font-family: Georgia, serif;
      }

      &::before {
        content: '“';
        left: 0;
        top: 20px;
      }

      &::after {
        content: '”';
        right: 0;
        bottom: 0;
      }

      p {
        margin: 5px 0 0;
        font-size: 14px;
      }

      q {
        &::before,
        &::after {
          content: '';
        }
      }
    }
  }
}

.customers {
  padding: 30px;

  h2 {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.home {
  /*background: rgba(220, 220, 220, 1);*/
}

.home-logo {
  animation: home-logo-spin infinite 20s linear;
  height: 80px;
}

.home-header {
  padding: 10px;
  border: 1px solid rgba(255, 0, 255, 1);
  display: inline-block;
  color: rgba(13, 105, 227, 1);
}

.home-title {
  font-size: 1.5em;
}

.home-intro {
  font-size: large;
}

@keyframes home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
