###### courgette snippets start 0-o

".text.plain":
  "${1:Given} I am on the '${2:PAGE_NAME}' page":
    'prefix': 'givenonpage'
    'body': "${1:Given} I am on the '${2:PAGE_NAME}' page"
  "${1:Given} I am on the page with url '${2:URL}'":
    'prefix': 'givengotourl'
    'body': "${1:Given} I am on the page with url '${2:URL}'"
  "${1:Given} the page url is '${2:URL}'":
    'prefix': 'givenpageurl'
    'body': "${1:Given} the page url is '${2:URL}'"
  "${1:Given} the page url is not '${2:URL}'":
    'prefix': 'givennotpageurl'
    'body': "${1:Given} the page url is not '${2:URL}'"
  "${1:Given} the page url contains '${2:URL}'":
    'prefix': 'givenurlcontains'
    'body': "${1:Given} the page url contains '${2:URL}'"
  "${1:Given} animations are disabled":
    'prefix': 'givendisableAnimations'
    'body': "${1:Given} animations are disabled"
  "${1:Given} the '${2:LOCATOR}' is visible":
    'prefix': 'givenvisible'
    'body': "${1:Given} the '${2:LOCATOR}' is visible"
  "${1:Given} the '${2:LOCATOR}' is hidden":
    'prefix': 'givenhidden'
    'body': "${1:Given} the '${2:LOCATOR}' is hidden"
  "${1:Given} the '${2:LOCATOR}' is enabled":
    'prefix': 'givenenabled'
    'body': "${1:Given} the '${2:LOCATOR}' is enabled"
  "${1:Given} the '${2:LOCATOR}' is disabled":
    'prefix': 'givendisabled'
    'body': "${1:Given} the '${2:LOCATOR}' is disabled"
  "${1:Given} the '${2:LOCATOR}' is selected":
    'prefix': 'givenselected'
    'body': "${1:Given} the '${2:LOCATOR}' is selected"
  "${1:Given} the '${2:LOCATOR}' is not selected":
    'prefix': 'givennotselected'
    'body': "${1:Given} the '${2:LOCATOR}' is not selected"
  "${1:Given} the '${2:LOCATOR}' is checked":
    'prefix': 'givenchecked'
    'body': "${1:Given} the '${2:LOCATOR}' is checked"
  "${1:Given} the '${2:LOCATOR}' is not checked":
    'prefix': 'givennotchecked'
    'body': "${1:Given} the '${2:LOCATOR}' is not checked"
  "${1:Given} the '${2:LOCATOR}' is on the page":
    'prefix': 'givenexists'
    'body': "${1:Given} the '${2:LOCATOR}' is on the page"
  "${1:Given} the '${2:LOCATOR}' is not on the page":
    'prefix': 'givennotexists'
    'body': "${1:Given} the '${2:LOCATOR}' is not on the page"
  "${1:Given} the title is '${2:STRING}'":
    'prefix': 'giventitle'
    'body': "${1:Given} the title is '${2:STRING}'"
  "${1:Given} the title is not '${2:STRING}'":
    'prefix': 'givennottitle'
    'body': "${1:Given} the title is not '${2:STRING}'"
  "${1:Given} the '${2:LOCATOR}' contains the text '${3:STRING}'":
    'prefix': 'givencontainstext'
    'body': "${1:Given} the '${2:LOCATOR}' contains the text '${3:STRING}'"
  "${1:Given} the '${2:LOCATOR}' does not contain the text '${3:STRING}'":
    'prefix': 'givennotcontainstext'
    'body': "${1:Given} the '${2:LOCATOR}' does not contain the text '${3:STRING}'"
  "${1:Given} the '${2:LOCATOR}' contains any text":
    'prefix': 'givencontainsanytext'
    'body': "${1:Given} the '${2:LOCATOR}' contains any text"
  "${1:Given} the '${2:LOCATOR}' does not contain any text":
    'prefix': 'givennotcontainsanytext'
    'body': "${1:Given} the '${2:LOCATOR}' does not contain any text"
  "${1:Given} the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'":
    'prefix': 'givenattribute'
    'body': "${1:Given} the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'"
  "${1:Given} the '${2:LOCATOR}' is empty":
    'prefix': 'givenempty'
    'body': "${1:Given} the '${2:LOCATOR}' is empty"
  "${1:Given} the '${2:LOCATOR}' is not empty":
    'prefix': 'givennotempty'
    'body': "${1:Given} the '${2:LOCATOR}' is not empty"
  "${1:Given} the value of the '${2:LOCATOR}' is '${3:VALUE}'":
    'prefix': 'givenvalue'
    'body': "${1:Given} the value of the '${2:LOCATOR}' is '${3:VALUE}'"
  "${1:Given} the value of the '${2:LOCATOR}' is not '${3:VALUE}'":
    'prefix': 'givennotvalue'
    'body': "${1:Given} the value of the '${2:LOCATOR}' is not '${3:VALUE}'"
  "${1:Given} I set the cookie '${2:COOKIE_NAME}' with value '${3:VALUE}'":
    'prefix': 'givensetcookie'
    'body': "${1:Given} I set the cookie '${2:COOKIE_NAME}' with value '${3:VALUE}'"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is set to '${3:VALUE}'":
    'prefix': 'givencookie'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is set to '${3:VALUE}'"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is not set to '${3:VALUE}'":
    'prefix': 'givennotcookie'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is not set to '${3:VALUE}'"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is set":
    'prefix': 'givencookieset'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is set"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is not set":
    'prefix': 'givennotcookieset'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is not set"
  "${1:When} I click the '${2:NTH}' element with the text '${3:VALUE}'":
    'prefix': 'whenclickelwithtext'
    'body': "${1:When} I click the '${2:NTH}' element with the text '${3:VALUE}'"
  "${1:When} I click the '${2:NTH}' element that contains the text '${3:VALUE}'":
    'prefix': 'whenclickelcontainstext'
    'body': "${1:When} I click the '${2:NTH}' element that contains the text '${3:VALUE}'"
  "${1:When} I press '${2:KEY}'":
    'prefix': 'whenkey'
    'body': "${1:When} I press '${2:KEY}'"
  "${1:When} I click the '${2:LOCATOR}'":
    'prefix': 'whenclick'
    'body': "${1:When} I click the '${2:LOCATOR}'"
  "${1:When} I click the '${2:LOCATOR}' inside the '${3:LOCATOR}'":
    'prefix': 'whenclickelinsideel'
    'body': "${1:When} I click the '${2:LOCATOR}' inside the '${3:LOCATOR}'"
  "${1:When} I append '${2:STRING}' to '${3:LOCATOR}'":
    'prefix': 'whenappend'
    'body': "${1:When} I append '${2:STRING}' to '${3:LOCATOR}'"
  "${1:When} I set '${2:LOCATOR}' to '${3:STRING}'":
    'prefix': 'whenset'
    'body': "${1:When} I set '${2:LOCATOR}' to '${3:STRING}'"
  "${1:When} I set the '${2:LOCATOR}' inside the '${3:LOCATOR}' to '${4:STRING}'":
    'prefix': 'whensetelinsideel'
    'body': "${1:When} I set the '${2:LOCATOR}' inside the '${3:LOCATOR}' to '${4:STRING}'"
  "${1:When} I append '${2:STRING}' to react field '${3:LOCATOR}'":
    'prefix': 'whenappendreact'
    'body': "${1:When} I append '${2:STRING}' to react field '${3:LOCATOR}'"
  "${1:When} I set react field '${2:LOCATOR}' to '${3:STRING}'":
    'prefix': 'whensetreact'
    'body': "${1:When} I set react field '${2:LOCATOR}' to '${3:STRING}'"
  "${1:When} I submit the form '${2:LOCATOR}'":
    'prefix': 'whensubmit'
    'body': "${1:When} I submit the form '${2:LOCATOR}'"
  "${1:When} I clear the '${2:LOCATOR}'":
    'prefix': 'whenclear'
    'body': "${1:When} I clear the '${2:LOCATOR}'"
  "${1:When} I select the option for select element '${2:LOCATOR}' with the text '${3:VALUE}'":
    'prefix': 'whenoption'
    'body': "${1:When} I select the option for select element '${2:LOCATOR}' with the text '${3:VALUE}'"
  "${1:Then} I expect page to contain '${2:STRING}'":
    'prefix': 'thenpagecontainstext'
    'body': "${1:Then} I expect page to contain '${2:STRING}'"
  "${1:Then} I expect the url to be '${2:STRING}'":
    'prefix': 'thenurl'
    'body': "${1:Then} I expect the url to be '${2:STRING}'"
  "${1:Then} I expect the url to not be '${2:STRING}'":
    'prefix': 'thennoturl'
    'body': "${1:Then} I expect the url to not be '${2:STRING}'"
  "${1:Then} I expect the url to contain '${2:STRING}'":
    'prefix': 'thenurlcontains'
    'body': "${1:Then} I expect the url to contain '${2:STRING}'"
  "${1:Then} I expect the url '${2:URL}' is opened in a new tab":
    'prefix': 'thenurlnewtab'
    'body': "${1:Then} I expect the url '${2:URL}' is opened in a new tab"
  "${1:Then} I expect to be on the '${2:PAGE_NAME}' page":
    'prefix': 'thenonpage'
    'body': "${1:Then} I expect to be on the '${2:PAGE_NAME}' page"
  "${1:Then} I expect the '${2:LOCATOR}' to be visible":
    'prefix': 'thenvisible'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be visible"
  "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be visible":
    'prefix': 'thenelinsideelvisible'
    'body': "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be visible"
  "${1:Then} I expect the '${2:LOCATOR}' to be hidden":
    'prefix': 'thenhidden'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be hidden"
  "${1:Then} I expect the bottom|top|left|right border colour of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thenbordercolour'
    'body': "${1:Then} I expect the bottom|top|left|right border colour of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the colour of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thencolour'
    'body': "${1:Then} I expect the colour of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the background colour of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thenbackgroundcolour'
    'body': "${1:Then} I expect the background colour of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the title to be '${2:STRING}'":
    'prefix': 'thentitle'
    'body': "${1:Then} I expect the title to be '${2:STRING}'"
  "${1:Then} I expect the title to not be '${2:STRING}'":
    'prefix': 'thennottitle'
    'body': "${1:Then} I expect the title to not be '${2:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' to contain the text '${3:STRING}'":
    'prefix': 'thencontainstext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to contain the text '${3:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' to not contain the text '${3:STRING}'":
    'prefix': 'thennotcontainstext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not contain the text '${3:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to contain the text '${4:STRING}'":
    'prefix': 'thenelinsideelcontainstext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to contain the text '${4:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' to contain any text":
    'prefix': 'thencontainsanytext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to contain any text"
  "${1:Then} I expect the '${2:LOCATOR}' to not contain any text":
    'prefix': 'thennotcontainsanytext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not contain any text"
  "${1:Then} I expect the '${2:LOCATOR}' to appear exactly '${3:NUMBER}' times":
    'prefix': 'thenappearexactly'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to appear exactly '${3:NUMBER}' times"
  "${1:Then} I expect the '${2:LOCATOR}' to not appear exactly '${3:NUMBER}' times":
    'prefix': 'thennotappearexactly'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not appear exactly '${3:NUMBER}' times"
  "${1:Then} I expect the '${2:LOCATOR}' to exist":
    'prefix': 'thenexists'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to exist"
  "${1:Then} I expect the '${2:LOCATOR}' to not exist":
    'prefix': 'thennotexists'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not exist"
  "${1:Then} I expect the '${2:LOCATOR}' to be checked":
    'prefix': 'thenchecked'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be checked"
  "${1:Then} I expect the '${2:LOCATOR}' to not be checked":
    'prefix': 'thennotchecked'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not be checked"
  "${1:Then} I expect the '${2:LOCATOR}' to be selected":
    'prefix': 'thenselected'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be selected"
  "${1:Then} I expect the '${2:LOCATOR}' to not be selected":
    'prefix': 'thennotselected'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not be selected"
  "${1:Then} I expect the '${2:LOCATOR}' to be enabled":
    'prefix': 'thenenabled'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be enabled"
  "${1:Then} I expect the '${2:LOCATOR}' to be disabled":
    'prefix': 'thendisabled'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be disabled"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to contain '${3:STRING}'":
    'prefix': 'thencookiecontain'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to contain '${3:STRING}'"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not contain '${3:STRING}'":
    'prefix': 'thennotcookiecontain'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not contain '${3:STRING}'"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to exist":
    'prefix': 'thencookieexists'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to exist"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not exist":
    'prefix': 'thennotcookieexists'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not exist"
  "${1:Then} I expect the '${2:LOCATOR}' to have the class '${3:CLASS_NAME}'":
    'prefix': 'thenclassname'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to have the class '${3:CLASS_NAME}'"
  "${1:Then} I expect the '${2:LOCATOR}' to not have the class '${3:CLASS_NAME}'":
    'prefix': 'thennotclassname'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not have the class '${3:CLASS_NAME}'"
  "${1:Then} I expect the '${2:LOCATOR}' to be focused":
    'prefix': 'thenfocused'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be focused"
  "${1:Then} I expect the '${2:LOCATOR}' to be empty":
    'prefix': 'thenempty'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be empty"
  "${1:Then} I expect the '${2:LOCATOR}' to not be empty":
    'prefix': 'thennotempty'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not be empty"
  "${1:Then} I expect the value of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thenvalue'
    'body': "${1:Then} I expect the value of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the value of the '${2:LOCATOR}' to not be '${3:STRING}'":
    'prefix': 'thennotvalue'
    'body': "${1:Then} I expect the value of the '${2:LOCATOR}' to not be '${3:STRING}'"
  "${1:Then} I expect the value of the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be '${4:STRING}'":
    'prefix': 'thenelinsideelvalue'
    'body': "${1:Then} I expect the value of the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be '${4:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'":
    'prefix': 'thenattribute'
    'body': "${1:Then} I expect the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'"
  "${1:Then} take a screenshot":
    'prefix': 'thenscreenshot'
    'body': "${1:Then} take a screenshot"
  "${1:Then} take a screenshot called '${2:STRING}'":
    'prefix': 'thenscreenshotcalled'
    'body': "${1:Then} take a screenshot called '${2:STRING}'"
  "${1:Then} fail step and take screenshot":
    'prefix': 'thendie'
    'body': "${1:Then} fail step and take screenshot"
".feature":
  "${1:Given} I am on the '${2:PAGE_NAME}' page":
    'prefix': 'givenonpage'
    'body': "${1:Given} I am on the '${2:PAGE_NAME}' page"
  "${1:Given} I am on the page with url '${2:URL}'":
    'prefix': 'givengotourl'
    'body': "${1:Given} I am on the page with url '${2:URL}'"
  "${1:Given} the page url is '${2:URL}'":
    'prefix': 'givenpageurl'
    'body': "${1:Given} the page url is '${2:URL}'"
  "${1:Given} the page url is not '${2:URL}'":
    'prefix': 'givennotpageurl'
    'body': "${1:Given} the page url is not '${2:URL}'"
  "${1:Given} the page url contains '${2:URL}'":
    'prefix': 'givenurlcontains'
    'body': "${1:Given} the page url contains '${2:URL}'"
  "${1:Given} animations are disabled":
    'prefix': 'givendisableAnimations'
    'body': "${1:Given} animations are disabled"
  "${1:Given} the '${2:LOCATOR}' is visible":
    'prefix': 'givenvisible'
    'body': "${1:Given} the '${2:LOCATOR}' is visible"
  "${1:Given} the '${2:LOCATOR}' is hidden":
    'prefix': 'givenhidden'
    'body': "${1:Given} the '${2:LOCATOR}' is hidden"
  "${1:Given} the '${2:LOCATOR}' is enabled":
    'prefix': 'givenenabled'
    'body': "${1:Given} the '${2:LOCATOR}' is enabled"
  "${1:Given} the '${2:LOCATOR}' is disabled":
    'prefix': 'givendisabled'
    'body': "${1:Given} the '${2:LOCATOR}' is disabled"
  "${1:Given} the '${2:LOCATOR}' is selected":
    'prefix': 'givenselected'
    'body': "${1:Given} the '${2:LOCATOR}' is selected"
  "${1:Given} the '${2:LOCATOR}' is not selected":
    'prefix': 'givennotselected'
    'body': "${1:Given} the '${2:LOCATOR}' is not selected"
  "${1:Given} the '${2:LOCATOR}' is checked":
    'prefix': 'givenchecked'
    'body': "${1:Given} the '${2:LOCATOR}' is checked"
  "${1:Given} the '${2:LOCATOR}' is not checked":
    'prefix': 'givennotchecked'
    'body': "${1:Given} the '${2:LOCATOR}' is not checked"
  "${1:Given} the '${2:LOCATOR}' is on the page":
    'prefix': 'givenexists'
    'body': "${1:Given} the '${2:LOCATOR}' is on the page"
  "${1:Given} the '${2:LOCATOR}' is not on the page":
    'prefix': 'givennotexists'
    'body': "${1:Given} the '${2:LOCATOR}' is not on the page"
  "${1:Given} the title is '${2:STRING}'":
    'prefix': 'giventitle'
    'body': "${1:Given} the title is '${2:STRING}'"
  "${1:Given} the title is not '${2:STRING}'":
    'prefix': 'givennottitle'
    'body': "${1:Given} the title is not '${2:STRING}'"
  "${1:Given} the '${2:LOCATOR}' contains the text '${3:STRING}'":
    'prefix': 'givencontainstext'
    'body': "${1:Given} the '${2:LOCATOR}' contains the text '${3:STRING}'"
  "${1:Given} the '${2:LOCATOR}' does not contain the text '${3:STRING}'":
    'prefix': 'givennotcontainstext'
    'body': "${1:Given} the '${2:LOCATOR}' does not contain the text '${3:STRING}'"
  "${1:Given} the '${2:LOCATOR}' contains any text":
    'prefix': 'givencontainsanytext'
    'body': "${1:Given} the '${2:LOCATOR}' contains any text"
  "${1:Given} the '${2:LOCATOR}' does not contain any text":
    'prefix': 'givennotcontainsanytext'
    'body': "${1:Given} the '${2:LOCATOR}' does not contain any text"
  "${1:Given} the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'":
    'prefix': 'givenattribute'
    'body': "${1:Given} the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'"
  "${1:Given} the '${2:LOCATOR}' is empty":
    'prefix': 'givenempty'
    'body': "${1:Given} the '${2:LOCATOR}' is empty"
  "${1:Given} the '${2:LOCATOR}' is not empty":
    'prefix': 'givennotempty'
    'body': "${1:Given} the '${2:LOCATOR}' is not empty"
  "${1:Given} the value of the '${2:LOCATOR}' is '${3:VALUE}'":
    'prefix': 'givenvalue'
    'body': "${1:Given} the value of the '${2:LOCATOR}' is '${3:VALUE}'"
  "${1:Given} the value of the '${2:LOCATOR}' is not '${3:VALUE}'":
    'prefix': 'givennotvalue'
    'body': "${1:Given} the value of the '${2:LOCATOR}' is not '${3:VALUE}'"
  "${1:Given} I set the cookie '${2:COOKIE_NAME}' with value '${3:VALUE}'":
    'prefix': 'givensetcookie'
    'body': "${1:Given} I set the cookie '${2:COOKIE_NAME}' with value '${3:VALUE}'"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is set to '${3:VALUE}'":
    'prefix': 'givencookie'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is set to '${3:VALUE}'"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is not set to '${3:VALUE}'":
    'prefix': 'givennotcookie'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is not set to '${3:VALUE}'"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is set":
    'prefix': 'givencookieset'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is set"
  "${1:Given} the cookie '${2:COOKIE_NAME}' is not set":
    'prefix': 'givennotcookieset'
    'body': "${1:Given} the cookie '${2:COOKIE_NAME}' is not set"
  "${1:When} I click the '${2:NTH}' element with the text '${3:VALUE}'":
    'prefix': 'whenclickelwithtext'
    'body': "${1:When} I click the '${2:NTH}' element with the text '${3:VALUE}'"
  "${1:When} I click the '${2:NTH}' element that contains the text '${3:VALUE}'":
    'prefix': 'whenclickelcontainstext'
    'body': "${1:When} I click the '${2:NTH}' element that contains the text '${3:VALUE}'"
  "${1:When} I press '${2:KEY}'":
    'prefix': 'whenkey'
    'body': "${1:When} I press '${2:KEY}'"
  "${1:When} I click the '${2:LOCATOR}'":
    'prefix': 'whenclick'
    'body': "${1:When} I click the '${2:LOCATOR}'"
  "${1:When} I click the '${2:LOCATOR}' inside the '${3:LOCATOR}'":
    'prefix': 'whenclickelinsideel'
    'body': "${1:When} I click the '${2:LOCATOR}' inside the '${3:LOCATOR}'"
  "${1:When} I append '${2:STRING}' to '${3:LOCATOR}'":
    'prefix': 'whenappend'
    'body': "${1:When} I append '${2:STRING}' to '${3:LOCATOR}'"
  "${1:When} I set '${2:LOCATOR}' to '${3:STRING}'":
    'prefix': 'whenset'
    'body': "${1:When} I set '${2:LOCATOR}' to '${3:STRING}'"
  "${1:When} I set the '${2:LOCATOR}' inside the '${3:LOCATOR}' to '${4:STRING}'":
    'prefix': 'whensetelinsideel'
    'body': "${1:When} I set the '${2:LOCATOR}' inside the '${3:LOCATOR}' to '${4:STRING}'"
  "${1:When} I append '${2:STRING}' to react field '${3:LOCATOR}'":
    'prefix': 'whenappendreact'
    'body': "${1:When} I append '${2:STRING}' to react field '${3:LOCATOR}'"
  "${1:When} I set react field '${2:LOCATOR}' to '${3:STRING}'":
    'prefix': 'whensetreact'
    'body': "${1:When} I set react field '${2:LOCATOR}' to '${3:STRING}'"
  "${1:When} I submit the form '${2:LOCATOR}'":
    'prefix': 'whensubmit'
    'body': "${1:When} I submit the form '${2:LOCATOR}'"
  "${1:When} I clear the '${2:LOCATOR}'":
    'prefix': 'whenclear'
    'body': "${1:When} I clear the '${2:LOCATOR}'"
  "${1:When} I select the option for select element '${2:LOCATOR}' with the text '${3:VALUE}'":
    'prefix': 'whenoption'
    'body': "${1:When} I select the option for select element '${2:LOCATOR}' with the text '${3:VALUE}'"
  "${1:Then} I expect page to contain '${2:STRING}'":
    'prefix': 'thenpagecontainstext'
    'body': "${1:Then} I expect page to contain '${2:STRING}'"
  "${1:Then} I expect the url to be '${2:STRING}'":
    'prefix': 'thenurl'
    'body': "${1:Then} I expect the url to be '${2:STRING}'"
  "${1:Then} I expect the url to not be '${2:STRING}'":
    'prefix': 'thennoturl'
    'body': "${1:Then} I expect the url to not be '${2:STRING}'"
  "${1:Then} I expect the url to contain '${2:STRING}'":
    'prefix': 'thenurlcontains'
    'body': "${1:Then} I expect the url to contain '${2:STRING}'"
  "${1:Then} I expect the url '${2:URL}' is opened in a new tab":
    'prefix': 'thenurlnewtab'
    'body': "${1:Then} I expect the url '${2:URL}' is opened in a new tab"
  "${1:Then} I expect to be on the '${2:PAGE_NAME}' page":
    'prefix': 'thenonpage'
    'body': "${1:Then} I expect to be on the '${2:PAGE_NAME}' page"
  "${1:Then} I expect the '${2:LOCATOR}' to be visible":
    'prefix': 'thenvisible'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be visible"
  "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be visible":
    'prefix': 'thenelinsideelvisible'
    'body': "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be visible"
  "${1:Then} I expect the '${2:LOCATOR}' to be hidden":
    'prefix': 'thenhidden'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be hidden"
  "${1:Then} I expect the bottom|top|left|right border colour of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thenbordercolour'
    'body': "${1:Then} I expect the bottom|top|left|right border colour of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the colour of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thencolour'
    'body': "${1:Then} I expect the colour of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the background colour of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thenbackgroundcolour'
    'body': "${1:Then} I expect the background colour of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the title to be '${2:STRING}'":
    'prefix': 'thentitle'
    'body': "${1:Then} I expect the title to be '${2:STRING}'"
  "${1:Then} I expect the title to not be '${2:STRING}'":
    'prefix': 'thennottitle'
    'body': "${1:Then} I expect the title to not be '${2:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' to contain the text '${3:STRING}'":
    'prefix': 'thencontainstext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to contain the text '${3:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' to not contain the text '${3:STRING}'":
    'prefix': 'thennotcontainstext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not contain the text '${3:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to contain the text '${4:STRING}'":
    'prefix': 'thenelinsideelcontainstext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' inside the '${3:LOCATOR}' to contain the text '${4:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' to contain any text":
    'prefix': 'thencontainsanytext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to contain any text"
  "${1:Then} I expect the '${2:LOCATOR}' to not contain any text":
    'prefix': 'thennotcontainsanytext'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not contain any text"
  "${1:Then} I expect the '${2:LOCATOR}' to appear exactly '${3:NUMBER}' times":
    'prefix': 'thenappearexactly'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to appear exactly '${3:NUMBER}' times"
  "${1:Then} I expect the '${2:LOCATOR}' to not appear exactly '${3:NUMBER}' times":
    'prefix': 'thennotappearexactly'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not appear exactly '${3:NUMBER}' times"
  "${1:Then} I expect the '${2:LOCATOR}' to exist":
    'prefix': 'thenexists'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to exist"
  "${1:Then} I expect the '${2:LOCATOR}' to not exist":
    'prefix': 'thennotexists'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not exist"
  "${1:Then} I expect the '${2:LOCATOR}' to be checked":
    'prefix': 'thenchecked'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be checked"
  "${1:Then} I expect the '${2:LOCATOR}' to not be checked":
    'prefix': 'thennotchecked'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not be checked"
  "${1:Then} I expect the '${2:LOCATOR}' to be selected":
    'prefix': 'thenselected'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be selected"
  "${1:Then} I expect the '${2:LOCATOR}' to not be selected":
    'prefix': 'thennotselected'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not be selected"
  "${1:Then} I expect the '${2:LOCATOR}' to be enabled":
    'prefix': 'thenenabled'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be enabled"
  "${1:Then} I expect the '${2:LOCATOR}' to be disabled":
    'prefix': 'thendisabled'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be disabled"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to contain '${3:STRING}'":
    'prefix': 'thencookiecontain'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to contain '${3:STRING}'"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not contain '${3:STRING}'":
    'prefix': 'thennotcookiecontain'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not contain '${3:STRING}'"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to exist":
    'prefix': 'thencookieexists'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to exist"
  "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not exist":
    'prefix': 'thennotcookieexists'
    'body': "${1:Then} I expect cookie '${2:COOKIE_NAME}' to not exist"
  "${1:Then} I expect the '${2:LOCATOR}' to have the class '${3:CLASS_NAME}'":
    'prefix': 'thenclassname'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to have the class '${3:CLASS_NAME}'"
  "${1:Then} I expect the '${2:LOCATOR}' to not have the class '${3:CLASS_NAME}'":
    'prefix': 'thennotclassname'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not have the class '${3:CLASS_NAME}'"
  "${1:Then} I expect the '${2:LOCATOR}' to be focused":
    'prefix': 'thenfocused'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be focused"
  "${1:Then} I expect the '${2:LOCATOR}' to be empty":
    'prefix': 'thenempty'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to be empty"
  "${1:Then} I expect the '${2:LOCATOR}' to not be empty":
    'prefix': 'thennotempty'
    'body': "${1:Then} I expect the '${2:LOCATOR}' to not be empty"
  "${1:Then} I expect the value of the '${2:LOCATOR}' to be '${3:STRING}'":
    'prefix': 'thenvalue'
    'body': "${1:Then} I expect the value of the '${2:LOCATOR}' to be '${3:STRING}'"
  "${1:Then} I expect the value of the '${2:LOCATOR}' to not be '${3:STRING}'":
    'prefix': 'thennotvalue'
    'body': "${1:Then} I expect the value of the '${2:LOCATOR}' to not be '${3:STRING}'"
  "${1:Then} I expect the value of the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be '${4:STRING}'":
    'prefix': 'thenelinsideelvalue'
    'body': "${1:Then} I expect the value of the '${2:LOCATOR}' inside the '${3:LOCATOR}' to be '${4:STRING}'"
  "${1:Then} I expect the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'":
    'prefix': 'thenattribute'
    'body': "${1:Then} I expect the '${2:LOCATOR}' has an attribute '${3:ATTRIBUTE_NAME}' with a value of '${4:VALUE}'"
  "${1:Then} take a screenshot":
    'prefix': 'thenscreenshot'
    'body': "${1:Then} take a screenshot"
  "${1:Then} take a screenshot called '${2:STRING}'":
    'prefix': 'thenscreenshotcalled'
    'body': "${1:Then} take a screenshot called '${2:STRING}'"
  "${1:Then} fail step and take screenshot":
    'prefix': 'thendie'
    'body': "${1:Then} fail step and take screenshot"
###### courgette snippets end 0-o