.Landing {
  text-align: center;
}

.Landing-logo {
  animation: Landing-logo-spin infinite 20s linear;
  height: 80px;
}

.Landing-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Landing-title {
  font-size: 1.5em;
}

.Landing-intro {
  font-size: large;
}

@keyframes Landing-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
